# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
db.development.sqlite
server/db/config/config.json

node_modules

#Bower Components 
public/lib/
