<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="isNavbarCollapsed = !isNavbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="landing">
        <img class="logo" src="assets/img/reserver-logo360x360.png" width="40" height="40">
        Reserver.Space
      </a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isNavbarCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li><a  ng-click="open('sm')">Sign Up</a></li>
        <li><a  ng-click="open('sm')">Sign In</a></li>
        <li><a>Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>