<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Locations <span class="sr-only">(current)</span></a> </li>
            <li ng-repeat="location in locations" ng-model="locations"> <a href="#">{{location.locationName}}</a>
                <ul>
                    <li ng-repeat="room in location.rooms"><a href="#">{{room.roomName}}</a> </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class=" col-sm-offset-3 col-md-10 col-md-offset-2">
        <div class="row main">
            <div class="col-md-5">
                <h3>Create a Reservation</h3>
                <div class="btn dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="roomSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Select Space <span class="caret"></span> </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Room 1</a> </li>
                        <li><a href="#">Room 2</a> </li>
                        <li><a href="#">Room 3</a> </li>
                    </ul>
                </div>
                <div class="btn input-group">
                    <input type="text" class="form-control" placeholder="Select Date" uib-datepicker-popup="{{format}}" ng-model="eve.eventDate" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" /> <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span> </div>
                <div class="btn dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="roomSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Select Start Time <span class="caret"></span> </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">4:00 AM</a> </li>
                        <li><a href="#">5:00 AM</a> </li>
                        <li><a href="#">6:00 AM</a> </li>
                        <li><a href="#">7:00 AM</a> </li>
                        <li><a href="#">8:00 AM</a> </li>
                        <li><a href="#">9:00 AM</a> </li>
                        <li><a href="#">10:00 AM</a> </li>
                        <li><a href="#">11:00 AM</a> </li>
                        <li><a href="#">12:00 AM</a> </li>
                        <li><a href="#">1:00 PM</a> </li>
                        <li><a href="#">2:00 PM</a> </li>
                        <li><a href="#">3:00 PM</a> </li>
                        <li><a href="#">4:00 PM</a> </li>
                        <li><a href="#">5:00 PM</a> </li>
                        <li><a href="#">6:00 PM</a> </li>
                        <li><a href="#">7:00 PM</a> </li>
                        <li><a href="#">8:00 PM</a> </li>
                        <li><a href="#">9:00 PM</a> </li>
                        <li><a href="#">10:00 PM</a> </li>
                        <li><a href="#">11:00 PM</a> </li>
                        <li><a href="#">12:00 PM</a> </li>
                    </ul>
                </div>
                <div class="btn input-group">
                    <input type="text" class="form-control" placeholder="Reservations Description" aria-describedby="basic-addon1"> <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span> </div>
                <button type="button" class="btn btn-primary btn-block"> <i class="fa fa-check"></i> Confirm Reservation </button>
            </div>
            <div class="col-md-5">
                <h3 class="text-center">Current Reservations</h3>
                <div ng-controller="eventsController" class="panel panel-default" id="events-sidebar">
                    <div id="event-wrapper"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
