<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="nav nav-list">
        <div class="sideBar">

          <!-- Angular datePicker -->
            <div>             
              <p class="input-group">               
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />                              
                <span class="input-group-btn">                 
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>               
                </span>             
              </p>           
            </div>
          <!-- Angular datePicker End -->

          <!-- Angular TimePicker -->
          <div>
            <uib-timepicker ng-model="eve.eventTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class='centerTime'></uib-timepicker>
            <pre class="alert alert-info">Time is: {{eve.eventTime  | date:'shortTime' }}</pre>
          </div>
          <!-- Angular TimePicker End -->


          <div>
            <h4>Describe the Event</h4>
            <input ng-model="eve.eventDescription"></input>
          </div>

          </br>
            <h4>Pick a room</h4>
           
          <div class="btn-group">
              <label class="btn btn-success" ng-model="eve.roomName" uib-btn-radio="'kitchen'" uncheckable>Kitchen</label>
              <label class="btn btn-success" ng-model="eve.roomName" uib-btn-radio="'livingRoom'" uncheckable>Living Room</label>
              <label class="btn btn-success" ng-model="eve.roomName" uib-btn-radio="'house'" uncheckable>Entire House</label>
          </div>


          <div>
            <h4>Alert Roommates</h4>
            <input type="checkbox" ng-model="eve.eventAlert">Please Alert Roommates</input>
          </div>

          <button class="eventSubmitBtn" type="submit" ng-click="eventSubmit()">Dibs!!!</button>
          <!--3DONE ^ what are we going to do with this data -->
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    

    <div class="col-md-7" ng-init="renderSideDashboard()" ui-view>
      <!--9 make it for now that each event saved is displayed to this view  -->
    </div>
  </div>
</div>

