    <nav class="navbar navbar-default">
      <div class="navbar-brand">Dibs</div>
      <a class="navbar-brand logout"><strong>Logout</strong></a>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="nav nav-list">
            <div class="sideBar">
              <h4>Pick a day</h4>
                <form name="dateForm" ng-controller="eventsController">
                <input type="datetime-local" ng-model="eventDate"
                name="input" placeholder="yyyy-MM-dd" min="2016-01-01" max="2017-01-01" required />
                </form>
              </br>

              <div>
                <h4>Describe the Event</h4>
                <input ng-model="eventToBook"></input>
              </div>

              </br>
              <form name="selectedroom" ng-controller="eventsController">
                <h4>Pick a room</h4>
                  
                <div class="btn-group">
                  <label class="btn btn-success" ng-model="roomName" uib-btn-radio="'Kitchen'" uncheckable>Kitchen</label>
                  <label class="btn btn-success" ng-model="roomName" uib-btn-radio="'Living Room'" uncheckable>Living Room</label>
                  <label class="btn btn-success" ng-model="roomName" uib-btn-radio="'Entire House'" uncheckable>Entire House</label>
                </div>
              </form>

              <div>
                <h4>Alert Roommates</h4>
                <input type="checkbox" ng-model="eventAlert">Please Alert Roommates</input>
              </div>

              <button class="eventSubmitBtn" type="submit" ng-click="eventSubmit()">Submit</button>
            </div>
          </div>
        </div>
      <div class="col-md-1"></div> 

      <div class="col-md-7">
          <div class="dashboard">
          </div>
      </div>
    </div>
  </div>

