<div id="h3-wrapper">
	<h3 style="text-align: center;">Daily Dibs</h3>
</div>
<div class="seperator"></div>
<div ng-controller="eventsController" class="panel panel-default" id="events-sidebar">
	<div id="event-wrapper">
	  	<div ng-repeat='event in bookedEvents track by $index'>
	      <div class="panel panel-default event-block">
	        <ul>
				  	<li>
				  		User Name:  </br>
				  		Room Name: {{event.roomName}} </br>
				  		Dibs Date: {{event.eventDate}} </br>
				  		Time: {{event.eventTime}}</br>
				  		Event Description: {{event.eventDescription}}</br>
				  	</li>
					</ul>
	      </div>
	  	</div>
	</div>	
</div>
