<div id="h3-wrapper">
    <h3 style="text-align: center;">Daily Dibs</h3>
</div>
<div class="seperator"></div>
<div ng-controller="eventsController" class="panel panel-default" id="events-sidebar">
    <div id="event-wrapper">
        <div ng-repeat='event in bookedEvents track by $index'>
            <div class="panel panel-default event-block">
                <h5>Room Name:<i> {{event.roomName}}</i></h5>
                <h6>Dibs Date:<i> {{event.eventDate}} | {{event.eventTime}}</i><h6>
          <div ng-show="event.eventDescription" class="ng-hide">
            <h6>Description:<i> {{event.eventDescription}}</i><h6>
          </div>
        </div>
      </div>
    </div>    
  </div>
