
<div class="jumbotron text-center">
  <h1>Find Your Space</h1>
  <button type="button" class="btn btn-primary btn-xlg" ng-click="open('sm')">Get Started</button>
</div>

<div ng-controller="LandingController">
  <script type="text/ng-template" id="modal.html">
    <div class="modal-content modal-auth">
      <div class="modal-header">
        <h3 class="modal-title">Welcome!</h3>
      </div>
      <div class="modal-body">
        <p class="text-danger" ng-show="error">{{error.data.error}}</p>
        <form class="form-auth" name="signinForm" ng-submit="signinForm.$valid && signin()" novalidate>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <input class="form-control" ng-model="user.email" type="email" placeholder="Email" required>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input class="form-control" ng-model="user.password" type="password" placeholder="Password" required>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-block" ng-click="signup()">Sign Up!</button>
            <button class="btn btn-primary btn-block" ng-click="signin()">Already a member? Sign In Here</button>
          </div>
        </form>
      </div>
    </div>
  </script>
</div>