<div id='bodyWrapper'>
  <div id='homeWrapper'>
    <div id='mainBody'>
      <div id='pitch'>
        <h1>Claim the space you need with Dibs</h1>
        <h3>Easy scheduler that communicates with everyone in your place</h3>
      </div>

      <div id='signup'>
        <form name='signinForm'>
          <div id='name'>
            <input type='text' ng-model='user.firstName' placeholder="First Name">
            <input type='text' ng-model='user.lastName' placeholder="Last Name"></br>
            <input type='text' ng-model='user.email' style="width: 290px;" placeholder="Email"></br>
            <input type='password' ng-model='user.password' style="width: 290px;" placeholder='Password'></br>
            <button ng-click="signUp()">Sign up for free!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
