<!-- navbar -->
<div id="nav-container">
  <div class="container">
    <img id="logo-image" src="./css/dibs3.png" alt="Dibs Logo"> 
  </div>  
</div>
<div id="signup-container">
  <div class="row">
    <div class="col-md-5">
      <div class="nav nav-list">
        <div class="sideBar">
          <h3>Signup/Login</h3>
          <div id='signup'>
            <form name='signinForm'>
               <div class="input-group margin-bottom-sm input-padding">
                 <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
                 <input class="form-control" ng-model="user.username" type="text" placeholder="User name">
               </div>

               <div class="input-group margin-bottom-sm input-padding">
                 <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                 <input class="form-control" ng-model="user.email" type="text" placeholder="Email address">
               </div>

               <div class="input-group input-padding">
                 <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                 <input class="form-control" ng-model="user.password" type="password" placeholder="Password">
               </div>
               
               <div class="tosandSubmit">
                 <input type="checkbox" id="pyxl6750" name="tos_agree" /><label for="pyxl6750"><span id="terms-padding">I agree to <a href="/terms" target="_blank">Dibs Terms & Conditions</a></span></label>
                 <button class="submit-btn" ng-click="signUp()">Sign up!</button>
               </div>
             </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5" id="bannerText">
      <h2>Pesky roommates<br> getting in your way?</h2>
      <img id="logo-orange-image" src="./css/dibs3 2.png" alt="Dibs Logo">
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- footer -->
<div class="navbar navbar-fixed-bottom" role="footer" style="background-color: #f7f7f9">
    <div class="container">
        <p id="copyright-text">© 2016 Dibs</p>
    </div>
</div>


