#navPanel {
	color: 1686f7;
	width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #eaeced;
	height: 60px;
}


#bodyWrapper {
	background-color: #FBFBFB;
}

#homeWrapper {
	margin-left: auto;
	margin-right: auto;
	width:1200px;
	height: 900px;
	color: #626466;
}

.left{
	float: left;
	padding-left: 150px;

	margin-left: 350px;
}

.right {
	float: right;
	margin-right: 420px;
}

#mainBody {
	clear: both;
	height: 100%;
}

#exampleImage {
	margin-right: auto;
	margin-left: auto;
	border: solid;
	border-color: black;
	height: 300px;
	width: 600px;
}

#pitch {
	float: left;
	margin-left: 120px;
	margin-top: 90px;
	text-align: center;
}

#signup { 
	margin-top: 100px;
	float: right;
	margin-right: 120px;
	text-align: center;
}

#signup input, button {
	margin-top: 10px;
}
