/*.logo {
  font-size: 36px;
}*/

html {
  background-color: #fff;
}

/*.finalSubmit {
  background-color: gray;
  border-radius: 20px;
  height: 75px;
  width: 75px;
}*/


.container {
  padding-left: 15%;
  padding-right: 15%;
}

.logout {
  float: right;
}

.sideBar {
  border-radius: 20px;
  border: 3px solid black;
  padding: 15px;
  padding-bottom: 35px;
  margin-top: 20px;
/*  text-align:center;*/
}

.dashboard {
  border-radius: 20px;
  border: 3px solid black;
  margin-top: 20px;
  text-align: center;
}

.eventSubmitBtn {
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 60px;
}

#pillow{
  background: green
  text: blue;
}


/*
FIND OUT WHAT THESE DO

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }*/


