/*html {
  background-color: #fff;
}
*/
body {
  background-color: #FFF;
  height: 100%;
}

h3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

#h3-wrapper {
  padding-top: 20px;  
}

.seperator {
  border-top: 1px dotted #ccc;
  margin: 10px 0 30px 0;
}

.container {
  padding-left: 15%;
  padding-right: 15%;
}

#signup-container {
  margin-top: 50px;
  padding-left: 15%;
  padding-right: 15%;
}

#nav-container {
  background-color: #FF4A00;
  height: 75px;
  width: 100%;
  margin-bottom: 25px;
}

#bannerText {
  color: #FF4A00;
  text-align: center;
}

#logo-orange-image {
  height: 200px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto
}

#logo-image {
  height:50px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto
}

#copyright-text {
  color: #969EA2;
  display: inline-block;
  margin-top: 15px;
  }

#logout-btn {
  width: 100px;
  height:30px;
  display: inline-block;
  float: right;
  margin-top: 10px;
  background: #FF4A00;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 0.25em 0.9em 0.75em 0.9em;
}

#logout-btn:hover {
  background: #CF2A00 !important; 
}

.sideBar {
  background-color: #f7f7f9;
  border: 1px solid #DADFE2;     
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  margin-top: 20px;
}

#events-sidebar {
  background-color: #f7f7f9;
  border: 1px solid #DADFE2; 
  border-color: black; 
  padding: 20px; 
  margin-top: 20px;
  height: 410px;
}

#event-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  overflow: scroll;
  height: 100%;
  margin: 10px;
}

.event-block {
  background-color: #fff; 
  border-color: #fff; 
}

.dashboard {
  border-radius: 20px;
  border: 3px solid black;
  margin-top: 20px;
  text-align: center;
}

.standardInputStyling {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  padding: 10px;
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
  background: #FF4A00;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 0.78em 0.9em 0.75em 0.9em;
}

.submit-btn:hover {
  background: #CF2A00 !important; 
}

.btn-primary {
  background: #FF4A00 !important;
  border-color: black !important;
}

.room-btn {
  background: #FF4A00 !important;
  border-color: black !important;
}

.room-btn:hover {
  background: #CF2A00 !important; 
}

.timePicker{
  width: 100%;
  float: left;
}

.input-padding {
  padding-bottom: 20px;
}

#terms-padding {
  padding-left: 10px;
}

#alert-roommates-padding {
  padding-left: 10px;
}

#userName {
    margin-top: 10px;
    width: 148px;
}

#userTags {
    width: 300px;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }


