/*.logo {
  font-size: 36px;
}*/

html {
  background-color: #fff;
}

body {
  height: 950px;
}

.container {
  padding-left: 15%;
  padding-right: 15%;
}

#copyright {
  margin-top: 15px;
  color: #969EA2;
}

.logout {
  float: right;
}

.sideBar {
  border-radius: 10px;
  border: 3px solid black;
  padding: 15px;
  padding-bottom: 20px;
  margin-top: 20px;
/*  text-align:center;*/
}

.dashboard {
  border-radius: 20px;
  border: 3px solid black;
  margin-top: 20px;
  text-align: center;
}

.eventSubmitBtn {
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 30px;
}

#pillow{
  background: green
  text: blue;
}


/*
FIND OUT WHAT THESE DO

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }*/


