.seperator {
    border-top: 1px dotted #ccc;
    margin: 10px 0 30px 0;
}

#logout-btn {
    width: 100px;
    height: 30px;
    display: inline-block;
    float: right;
    margin-top: 10px;
    background: #FF4A00;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0.25em 0.9em 0.75em 0.9em;
}

#logout-btn:hover {
    background: #CF2A00 !important;
}

.sideBar {
    background-color: #f7f7f9;
    border: 1px solid #DADFE2;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin-top: 20px;
}

#events-sidebar {
    background-color: #f7f7f9;
    border: 1px solid #DADFE2;
    border-color: black;
    padding: 20px;
    margin-top: 20px;
    height: 410px;
}

#event-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    overflow: scroll;
    height: 100%;
    margin: 10px;
}

.event-block {
    background-color: #fff;
    border-color: #fff;
    padding-left: 20px;
}

.dashboard {
    border-radius: 20px;
    border: 3px solid black;
    margin-top: 20px;
    text-align: center;
}

.standardInputStyling {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn {
    padding: 10px;
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
    background: #FF4A00;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0.78em 0.9em 0.75em 0.9em;
}

.timePicker {
    width: 100%;
    float: left;
}

.input-padding {
    padding-bottom: 20px;
}

#terms-padding {
    padding-left: 10px;
}

#alert-roommates-padding {
    padding-left: 10px;
}

#userName {
    margin-top: 10px;
    width: 148px;
}

#userTags {
    width: 300px;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

.add-oppacity {
    background-color: #ffe4b2 !important;
}

/*
/* Scaffolding
/* -------------------------------------------------- */

body.landing { 
  background: url('../img/landing-bkg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
/* Navbar
/* -------------------------------------------------- */

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0; 
} 

.navbar-default {
  border: none;
}

.navbar-default .navbar-brand {
  font-size: 28px;
  padding-left: 0;
  padding-top: 5px;
}

.navbar-brand .logo {
  display: inline-block;
  padding-right: 5px;
}

.navbar-default .navbar-nav a {
  font-size: 18px; 
  padding-left: 30px;
}

.landing .navbar-default .navbar-nav > li > a:hover, 
.landing .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  text-decoration: underline;
}

.navbar-default .navbar-nav a:last-child {
  padding-right: 0;
}

.landing .navbar {
  background-color: rgba(36,36,36,.5);
}

.landing .navbar-default .navbar-brand,
.landing .navbar-default .navbar-nav a {
  color: #fff;
}

/*
/* Jumbotron
/* -------------------------------------------------- */

.landing .jumbotron {
  background: transparent;
  padding-top: 130px;
  padding-bottom: 60px;
}

.jumbotron h1 {
  margin-bottom: 40px;
  color: #fff;
}

/*
/* Buttons
/* -------------------------------------------------- */

.btn-primary {
  background-color: #0047c5;
  border-color: #0047c5;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #003eac;
  border-color: #003592;
}

.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primarydisabled.active,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #0047c5;
  border-color: #0047c5;
}

.btn-xlg {
  font-size: 2em;
  padding: 10px 40px;
}






